<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers" flux:schemaLocation="http://fluidtypo3.org/schemas/flux-development.xsd"
     xmlns:fcc="http://typo3.org/ns/FluidTYPO3/FluidcontentCore/ViewHelpers" fcc:schemaLocation="http://fluidtypo3.org/schemas/fluidcontent_core-development.xsd"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" v:schemaLocation="http://fluidtypo3.org/schemas/vhs-development.xsd"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers" f:schemaLocation="http://fluidtypo3.org/schemas/fluid-master.xsd">

<f:layout name="Default" />

<f:section name="Configuration">
	<flux:form id="bullets">
		<f:render partial="Properties/Header" arguments="{_all}" />
		<f:render partial="Properties/Container" arguments="{_all}" />
		<flux:form.sheet name="bullets">
			<flux:field.select name="settings.tagName" items="{
				ol: '{f:translate(key: \'list.ol\')}',
				ul: '{f:translate(key: \'list.ul\')}'
			}" requestUpdate="TRUE" />
			<f:if condition="{settings.tagName} == 'ol'">
				<flux:field.input name="settings.start" eval="trim,int" size="2" />
			</f:if>
		</flux:form.sheet>
	</flux:form>
</f:section>

<f:section name="Preview">
	<f:translate key="list.{settings.tagName}" />: <em>{record.bodytext -> v:format.eliminate(windowsBreaks: 1)
		-> v:iterator.explode(glue: 'constant:LF') -> v:iterator.implode(glue: ', ')}</em>
</f:section>

<f:section name="Main">
	{settings.start -> f:if(condition: '{settings.tagName} == \'ol\'') -> v:var.set(name: 'startIndex')}
	<fcc:tag name="{settings.tagName}" additionalAttributes="{start: '{startIndex -> v:or(alternative: 1)}'}">
		<f:for each="{record.bodytext -> v:format.eliminate(windowsBreaks: 1) -> v:format.trim()
			-> v:iterator.explode(glue: 'constant:LF')}" as="item">
			<li>{item}</li>
		</f:for>
	</fcc:tag>
</f:section>

</div>
