<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers" flux:schemaLocation="http://fluidtypo3.org/schemas/flux-development.xsd"
     xmlns:fcc="http://typo3.org/ns/FluidTYPO3/FluidcontentCore/ViewHelpers" flux:schemaLocation="http://fluidtypo3.org/schemas/fluidcontent_core-development.xsd"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" flux:schemaLocation="http://fluidtypo3.org/schemas/vhs-development.xsd"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers" f:schemaLocation="http://fluidtypo3.org/schemas/fluid-master.xsd">

<f:layout name="Default" />

<f:section name="Configuration">
	<flux:form id="text">
		<f:render partial="Properties/Header" arguments="{_all}" />
		<f:render partial="Properties/Container" arguments="{_all}" />
	</flux:form>
</f:section>

<f:section name="Preview">
	{record.bodytext -> f:format.crop(maxCharacters: 100)} yadata
</f:section>

<f:section name="Main">
	{record.bodytext -> f:format.html()}
</f:section>

</div>
