{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}

<flux:form.sheet name="header" label="LLL:sheets.header">
	<flux:field.select name="settings.header.type" items="{settings.header.types}" default="{record.header_layout -> v:or(alternative: settings.header.type)}" label="LLL:fields.headerLevel" />
	<flux:field.select name="settings.header.className" renderMode="checkbox" size="3" minItems="0" maxItems="100" items="{settings.header.classNames}" label="LLL:fields.classNames" />
</flux:form.sheet>
