<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers" flux:schemaLocation="http://fluidtypo3.org/schemas/flux-development.xsd"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" flux:schemaLocation="http://fluidtypo3.org/schemas/vhs-development.xsd"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers" f:schemaLocation="http://fluidtypo3.org/schemas/fluid-master.xsd">

<flux:form.sheet name="image" label="LLL:sheets.image">
	<flux:field.select name="settings.image.className" renderMode="checkbox" minItems="0" maxItems="100" items="{settings.image.classNames}" label="LLL:fields.classNames" />
	<flux:field.select name="settings.scaleMode" items="{n: '', c: 'c', m: 'm'}" default="c" />
	<flux:field.checkbox name="settings.extendedCaptions" />
	<flux:field.checkbox name="settings.directInclusion" />
	<flux:field.select name="settings.caption.tagName" items="{settings.caption.types}" label="LLL:fields.tagName" requestUpdate="TRUE" />
</flux:form.sheet>

</div>
