{namespace v=Tx_Vhs_ViewHelpers}

<f:if condition="{settings.directInclusion}">
	<f:then>
		<img src="{image.url}" alt="{image.name}" class="{settings.image.className}" />
	</f:then>
	<f:else>
		<f:image src="{image.url}" treatIdAsReference="TRUE" alt="{image.name}"
		         width="{record.imagewidth -> v:or(alternative: '-1')}{f:if(condition: record.imagewidth, then: settings.scaleMode)}"
		         height="{record.imageheight -> v:or(alternative: '-1')}{f:if(condition: record.imageheight, then: settings.scaleMode)}" />
	</f:else>
</f:if>
