<div xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Main">
		<v:page.menu.directory pages="{pageUids}">
			<ul>
				<f:for each="{menu -> v:iterator.sort(sortBy: 'tstamp', order: 'DESC')
					-> v:iterator.slice(length: '{settings.menu.limit -> v:or(alternative: 9999)}')}" as="menuPageData">
					<li>
						<f:link.page pageUid="{menuPageData.uid}">{menuPageData.linktext}</f:link.page>
					</li>
				</f:for>
			</ul>
		</v:page.menu.directory>
	</f:section>

</div>
