{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<v:content.get pageUid="{menuPage}" sectionIndexOnly="TRUE" as="contentElements">
	<f:for each="{contentElements}" as="contentElementRecord">
		<f:link.page pageUid="{menuPage}" section="{contentElementRecord.header
								-> v:or(alternative: contentElementRecord.titleAttribute)
								-> v:or(alternative: 'content-{record.uid}') -> v:format.url.sanitizeString()}">
			{contentElementRecord.header -> v:or(alternative: contentElementRecord.titleAttribute)
			-> v:or(alternative: '{contentElementRecord.bodyText -> f:format.html()}')
			-> f:format.crop(maxCharacters: content.settings.preview.maxCharacters)}
		</f:link.page>
	</f:for>
</v:content.get>
